## Classificação de Modelos cardíacos tridimensionais relacionada à presença ou ausência de cardimiopatia

Diego Dedize <br />
Luiz Gustavo Silva <br />
Johnny Demetrius <br />
Vagner Mendonça Gonçalves <br />

version 0.1 - 03/04/2020

**Objetivo:** aplicar modelos de classificação  e avaliar os resultados obtidos em um dataset composto por vetores de características extraídas de modelos 3D reconstruídos a partir de exames de Ressonancia Magnética Cardíaca (RMC).

**Cardiomiopatia:** quadro clínico dado por uma anormalidade no miocárdio (estrutura muscular do coração) (KUMAR et al., 2010 apud BERGAMASCO, 2018).

**Fonte dos dados:** Dataset disponibilizado pelo Laboratório de Aplicações de Informática em Saúde (LApIS) - EACH/USP, coordenado pela Profa. Dra. Fátima L. S. Nunes.

**Referências:** <br />
BERGAMASCO, Leila Cristina Carneiro. Recuperação de imagens cardíacas tridimensionais por conteúdo. 2013. 134 f. Dissertação (Mestrado em Ciências) - Programa de Pós-graduação em Sistemas de Informação, Escola de Artes, Ciências e Humanidades, Universidade de São Paulo, São Paulo, 2013. 

BERGAMASCO, Leila Cristina Carneiro. Recuperação de objetos médicos 3D utilizando harmônicos esféricos e redes de fluxo. 2018. 181 f. Tese (Doutorado em Ciências) - Escola Politécnica, Departamento de Engenharia da Computação e Sistemas Digitais, Universidade de São Paulo, São Paulo, 2018.

KUMAR, V.; ABBAS, A. K.; FAUSTO, N.; ASTER, J. C.. Robbins & Cotran – Patologia: Bases Patológicas das Doenças. 8 ed. Rio de Janeiro: Elsevier, 2010.

### Importanto bibliotecas importantes

In [1]:
import pandas as pd
import numpy as np

### Importando arquivo e verificando primeiras linhas

In [2]:
df = pd.read_csv("Total_SPHARM_20200326.csv",header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,707,708,709,710,711,712,713,714,715,716
0,id001,29,M,-7881.480247,-5759.969698,-24465.608592,-15275.106756,-22974.378070,-22686.138288,-6131.488463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,id002,31,M,-567.772697,-33.292309,-465.179132,-525.981010,-469.546900,-305.182676,-89.243364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,id003,27,M,-135372.767326,-115124.114646,-772665.053883,-292331.423079,-58059.255010,-118464.329594,-585147.837935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,id004,52,M,-582.939571,-366.425893,-281.022452,-437.739821,-206.814933,-230.346112,-126.535277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,id005,56,M,-913.082501,-334.221895,-449.102108,-113.637478,-50.065343,-127.180338,-640.351614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

### Verifica colunas e adiciona cabeçalho

In [3]:
df.shape

(400, 717)

In [4]:
df.columns

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            707, 708, 709, 710, 711, 712, 713, 714, 715, 716],
           dtype='int64', length=717)

In [5]:
colunas_1 =['id','age','sex']
colunas_1

['id', 'age', 'sex']

In [6]:
colunas_2 = []
for i in range(1,714):
     colunas_2.append(str(i))

In [7]:
coluna_3 = ['class_id']

In [8]:
colunas_total = colunas_1 + colunas_2 + coluna_3

In [9]:
df.columns = colunas_total

In [10]:
df.head()

,id,age,sex,1,2,3,4,5,6,7,...,705,706,707,708,709,710,711,712,713,class_id
0,id001,29,M,-7881.480247,-5759.969698,-24465.608592,-15275.106756,-22974.378070,-22686.138288,-6131.488463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,id002,31,M,-567.772697,-33.292309,-465.179132,-525.981010,-469.546900,-305.182676,-89.243364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,id003,27,M,-135372.767326,-115124.114646,-772665.053883,-292331.423079,-58059.255010,-118464.329594,-585147.837935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,id004,52,M,-582.939571,-366.425893,-281.022452,-437.739821,-206.814933,-230.346112,-126.535277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,id005,56,M,-913.082501,-334.221895,-449.102108,-113.637478,-50.065343,-127.180338,-640.351614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

### Verificando as features

In [11]:
df.columns

Index(['id', 'age', 'sex', '1', '2', '3', '4', '5', '6', '7',
       ...
       '705', '706', '707', '708', '709', '710', '711', '712', '713',
       'class_id'],
      dtype='object', length=717)

In [12]:
for ind, row in df.iterrows():
    if (df.loc[ind,'class_id']==0): df.loc[ind,'class_desc'] = 'normal'
    if (df.loc[ind,'class_id']==1): df.loc[ind,'class_desc'] = 'CMD'
    if (df.loc[ind,'class_id']==2): df.loc[ind,'class_desc'] = 'CMH'

In [13]:
df.head()

,id,age,sex,1,2,3,4,5,6,7,...,706,707,708,709,710,711,712,713,class_id,class_desc
0,id001,29,M,-7881.480247,-5759.969698,-24465.608592,-15275.106756,-22974.378070,-22686.138288,-6131.488463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal
1,id002,31,M,-567.772697,-33.292309,-465.179132,-525.981010,-469.546900,-305.182676,-89.243364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal
2,id003,27,M,-135372.767326,-115124.114646,-772665.053883,-292331.423079,-58059.255010,-118464.329594,-585147.837935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal
3,id004,52,M,-582.939571,-366.425893,-281.022452,-437.739821,-206.814933,-230.346112,-126.535277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal
4,id005,56,M,-913.082501,-334.221895,-449.102108,-113.637478,-50.065343,-127.180338,-640.351614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal

In [14]:
df['class_desc'].value_counts()

CMD       183
CMH       116
normal    101
Name: class_desc, dtype: int64

### Definição das classes binarizadas (0 = Sem anomalia | 1 = Com anomalia)

In [15]:
for ind, row in df.iterrows():
    if (df.loc[ind,'class_id']==0):
        df.loc[ind,'target'] = '0'
    else:
        df.loc[ind,'target'] = '1'

In [16]:
df.head()

,id,age,sex,1,2,3,4,5,6,7,...,707,708,709,710,711,712,713,class_id,class_desc,target
0,id001,29,M,-7881.480247,-5759.969698,-24465.608592,-15275.106756,-22974.378070,-22686.138288,-6131.488463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal,0
1,id002,31,M,-567.772697,-33.292309,-465.179132,-525.981010,-469.546900,-305.182676,-89.243364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal,0
2,id003,27,M,-135372.767326,-115124.114646,-772665.053883,-292331.423079,-58059.255010,-118464.329594,-585147.837935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal,0
3,id004,52,M,-582.939571,-366.425893,-281.022452,-437.739821,-206.814933,-230.346112,-126.535277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal,0
4,id005,56,M,-913.082501,-334.221895,-449.102108,-113.637478,-50.065343,-127.180338,-640.351614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal,0

In [17]:
df['target'].value_counts()

1    299
0    101
Name: target, dtype: int64

### Excluindo features irrelevantes

In [18]:
df_bkp = df

In [19]:
df.head()

,id,age,sex,1,2,3,4,5,6,7,...,707,708,709,710,711,712,713,class_id,class_desc,target
0,id001,29,M,-7881.480247,-5759.969698,-24465.608592,-15275.106756,-22974.378070,-22686.138288,-6131.488463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal,0
1,id002,31,M,-567.772697,-33.292309,-465.179132,-525.981010,-469.546900,-305.182676,-89.243364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal,0
2,id003,27,M,-135372.767326,-115124.114646,-772665.053883,-292331.423079,-58059.255010,-118464.329594,-585147.837935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal,0
3,id004,52,M,-582.939571,-366.425893,-281.022452,-437.739821,-206.814933,-230.346112,-126.535277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal,0
4,id005,56,M,-913.082501,-334.221895,-449.102108,-113.637478,-50.065343,-127.180338,-640.351614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,normal,0

In [20]:
df.drop(columns=['class_id'],inplace=True)
df.drop(columns=['class_desc'],inplace=True)
df.head()

,id,age,sex,1,2,3,4,5,6,7,...,705,706,707,708,709,710,711,712,713,target
0,id001,29,M,-7881.480247,-5759.969698,-24465.608592,-15275.106756,-22974.378070,-22686.138288,-6131.488463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,id002,31,M,-567.772697,-33.292309,-465.179132,-525.981010,-469.546900,-305.182676,-89.243364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,id003,27,M,-135372.767326,-115124.114646,-772665.053883,-292331.423079,-58059.255010,-118464.329594,-585147.837935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,id004,52,M,-582.939571,-366.425893,-281.022452,-437.739821,-206.814933,-230.346112,-126.535277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,id005,56,M,-913.082501,-334.221895,-449.102108,-113.637478,-50.065343,-127.180338,-640.351614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

### Verificando features

In [21]:
df.dtypes

id         object
age        object
sex        object
1         float64
2         float64
           ...
710       float64
711       float64
712       float64
713       float64
target     object
Length: 717, dtype: object

In [22]:
df.describe()

,1,2,3,4,5,6,7,8,9,10,...,704,705,706,707,708,709,710,711,712,713
count,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,4.000000e+02,...,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000
mean,-4.184777e+05,-2.381917e+05,-2.943772e+05,-2.792541e+05,-3.952591e+05,-3.865451e+05,-3.204960e+05,-3.212919e+05,-3.176174e+05,-3.005578e+05,...,-58.335621,-1.960383,-149.222355,-233.562542,-126.6011,-154.984096,-155.468962,-124.529409,-148.211614,-86.011145
std,3.669986e+06,1.532231e+06,2.742143e+06,1.962290e+06,3.851215e+06,3.769669e+06,2.666231e+06,3.078381e+06,2.617692e+06,2.140763e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,-6.351406e+07,-1.924941e+07,-4.947115e+07,-2.756315e+07,-7.126795e+07,-6.914251e+07,-4.344959e+07,-5.640698e+07,-3.971255e+07,-2.618566e+07,...,-58.335621,-1.960383,-149.222355,-233.562542,-126.6011,-154.984096,-155.468962,-124.529409,-148.211614,-86.011145
25%,-9.671564e+03,-9.623350e+03,-7.915870e+03,-8.164928e+03,-9.045309e+03,-8.973423e+03,-8.167788e+03,-9.698177e+03,-8.553080e+03,-8.869544e+03,...,-58.335621,-1.960383,-149.222355,-233.562542,-126.6011,-154.984096,-155.468962,-124.529409,-148.211614,-86.011145
50%,-1.078799e+03,-1.191435e+03,-1.096427e+03,-1.036713e+03,-1.191743e+03,-1.296300e+03,-1.281311e+03,-1.168526e+03,-1.230535e+03,-1.011175e+03,...,-58.335621,-1.960383,-149.222355,-233.562542,-126.6011,-154.984096,-155.468962,-124.529409,-148.211614,-86.011145
75%,-2.896726e+02,-2.752981e+02,-2.302181e+02,-2.652590e+02,-2.484256e+02,-2.520838e+02,-2.604210e+02,-3.015197e+02,-2.567557e+02,-2.133616e+02,...,-58.335621,-1.960383,-149.222355,-233.562542,-126.6011,-154.984096,-155.468962,-124.529409,-148.211614,-86.011145
max,-1.679736e+00,-8.179066e-01,-8.525168e-01,-7.131343e-01,-6.057804e-01,-7.625684e-01,-1.031201e+00,-3.125699e-02,-3.058401e-01,-3.762626e-02,...,-58.335621,-1.960383,-149.222355,-233.562542,-126.6011,-154.984096,-155.468962,-124.529409,-148.211614,-86.011145

### Verificar missings Values

### Aplicar PCA